.input {
    border-radius: 1rem;
    padding: .4rem 1rem;
    width: 15rem;
    font-family: "Metropolis regular", "Arial";
    color: #7d7d7d;
}

.input.fullWidth {
    width: 100%;
}

.input:disabled {
    background-color: #e9e9e9;
}

/* when a search icon is in the input, add extra right padding so that text can't overflow onto the icon */
.input.room-for-search-icon {
    padding-right: 2.5rem;
}

.input.minimal {
    border: none;
    border-radius: 0;
    border-bottom: 1px #d7d7d7 solid;
    padding: .4rem;
}

.input:focus {
    outline: 1px hotpink solid;
}

.search-click-area {
    margin-left: -3rem;
    width: 3rem;
    padding: .4rem 1rem;
    color: hotpink;
    transition:color .3s linear;
}

.search-click-area:hover {
    cursor: pointer;
    transition:color .3s linear;
    color: blue;
}

.search-click-area .search-icon {
    vertical-align: middle;
}