body {
    margin: 0;
    overflow: auto;
    font-size: .8rem;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*------------ fonts ------------*/
@font-face {
    font-family: "Delicious";
    src: url("./fonts/darrell-flood_delicious/Delicious.otf");
}
@font-face {
    font-family: "Metropolis regular";
    src: url("./fonts/metropolis/Metropolis-Regular.otf");
}

/*------------ headings ------------*/
.heading {
    color: white;
    font-family: "Delicious", "Arial";
}

.heading h1 {
    font-size: 8vw; /* width of the font is proportional to width of the page */
    text-align: center;
    margin: 1rem auto 0 auto;
}

.heading h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: .9rem;
}

/*------------- media queries -------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
    .heading h2 {
        font-size: 1.3rem;
    }
}