@font-face {
    font-family: "Delicious";
    src: url("../../resources/fonts/darrell-flood_delicious/Delicious.otf");
}

body {
    margin: 0;
    overflow:auto;
    background-image: url("../../resources/pics/kiminonawa2.jpg");
    background-size: cover;
    background-color: blue;
}

.landing .heading {
    text-align: center;
    color: white;
    margin: 0 auto;
    font-family: "Delicious", "Arial";
}

.landing .heading h1 {
    font-size: 11rem;
    margin-bottom: 0;
    margin-top: 3rem;
}

.landing .heading h2 {
    font-size: 2.3rem;
}

/*------------- form styles -------------*/
.search-form {
    width: 70%;
    max-width: 40rem;
    margin: auto;
}

/*------------- media queries -------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
    .landing .heading h1 {
        font-size: 5rem;
    }
    .landing .heading h2 {
        font-size: 1.3rem;
    }
    .search-form {
        width: 98%;
    }
}