/* reference for changing arrow in the future:
   https://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-only-css */
.select {
    font-family: "Metropolis", "Arial";
    font-size: .8rem;
    color: #707070;
    padding: .33rem .5rem;
    margin: 0 .25rem;
}

.select .option {
    color: #707070;
}

.select:focus {
    outline: 1px hotpink solid;
}

.select.size-sm {
    width: 6rem;
}
.select.size-md {
    width: 10rem;
}
.select.size-lg {
    width: 15rem;
}
.select.size-fill {
    width: 100%;
}