.button {
    background-color: white;
    border-radius: 1rem;
    padding: .5rem .9rem;
    font-family: "Metropolis", "Arial";
    font-weight: bold;
    color: hotpink;
    border: 1px hotpink solid;
}
.button.type-primary {
    background-color: hotpink;
    color: white;
    border: none;
}
.button:focus {
    outline: 1px hotpink solid;
}

.button:hover {
    cursor: pointer;
}