.about-wrapper {
    flex-grow: 1;
    background-image: url("../../resources/pics/kiminonawa.jpg");
    background-size: cover;
    background-color: #2538b4;
    font-family: "Metropolis regular", "Arial";
}